@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,700;1,900&display=swap');

h1 {
	color: black;
	font-size: 20px;
	font-family: 'Lato', sans-serif;

}

body {
	background-color: #BAF6C5;
	text-align:center;

}

div {
	background-color: white;
	padding: 50px;
	margin: 50px;
	box-shadow: 6px 9px 20px 0px black;
	font-family: 'Lato', sans-serif;
	width: 85%;
}

img{
	border-radius: 50%
}

i{
	font-size: 50px
}

.button-blue {
	background-color: #BAF6C5;
	color: rgba(0,0,0,4);
	font-weight: bold;
	padding: 16px;
	border-radius: 6px;
	border: 1px #BAF6C5 solid;
	margin: 24px auto;
	display: block;
	width: 20%;
	transition : 1s;
}

.button-blue:hover{
	background-color: white;
	color: white;
	transition 1s;
}

i{
	font-size: 48px;
	color: rgba(0,0,0,4);
}

.list-inline li{
	display: inline;
	margin: 0 3px;
}

.list-inline {
	padding: 0;
	}
